#map {
    height: 700px;
    width: 1000px;
}

.sequence-control-container {
    width: 390px;
    height: 45px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px;
    line-height: 20px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 200px;
    padding: 5px;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

.legend-control-container {
    width: 400px;
    height: 350px;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}